body{
    font-family: "Open Sans", sans-serif;
}


header {
    background-color: #303031;
}

footer {
    background-color: #1c1c1c;

}

#entetes {
    width: 2000px;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#pied_page {
    width: 95%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.bandeau01 {
    background-color: #0096cb;
    padding-top: 40px;
    padding-bottom: 30px;
}

.sousbandeau01 {
    width: 2000;
    margin: auto;
    display:flex;
    flex-direction: row;
    justify-content: space-around;
}

.colonnes01{
    justify-items: flex-start;
    
}

.explications {
    background-color: #0096cb;
}

.entete {
    display: flex;
    align-content: space-between;
    align-items: center;
    
}

h1{
    color: white;
    font-weight: normal;
    font-size: 24px;
}

h3{
    color: white;
}

p{
    color: white;
}

header a{
    color : #d8d8d8;
    text-decoration: none;
    font-size: 14px;
}

header a:hover{
    color: #d8d8d8;
    font-weight: bold;
}

header p{
font-size: 14px;
}

header p:hover{
    font-size: 14px;
    font-weight: bold;
    }

footer a{
    color: #d8d8d8;
    text-decoration: none;
    font-size: 12px;
}

footer a:hover{
    color: #d8d8d8;
    font-weight: bold;
}

footer li{
    margin: auto;
}

footer li:before{
    content: "|";
    color: white;
}

footer li:first-child:before{
    content : " ";
}

footer p{
    font-size: 12px;
}

li{
    list-style-type: none;
    display: inline;
    margin: auto 15px;
}